.main-style() {
  background-color: @bg-color;
  font-family: "Open Sans", sans-serif;
  text-color: @text-color;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.list-style() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.caption(@font-size: 25px) {
  margin: 0;
  font-size: @font-size;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.link(@font-size; @font-weight; @color) {
  font-size: @font-size;
  font-weight: @font-weight;
  color: @color;
  text-decoration: none;
}
