@page-color: #ffffff;
@footer-color: #f1f1f1;
@text-color: #444444;
@caption-color: #000000;
@catalog-color: #f1f1f1;
@product-color: #63d1bb;
@product-second-color: #56c3b2;
@form-color: #62d1ba;
@outline-block: 2px solid blue;
