.catalog__wrap {
  .container;
}

.catalog > h1 {
  margin: 0;
  padding-top: 73px;
  padding-bottom: 73px;
  background-color: @page-second-color;
  text-align: center;

  .caption(27px);
}

.catalog__item {
  h1 {
    .caption(17px);
  }

  a {
    .link(17px; 24px; #000000)
  }
}

@media @tablet-widths {
  .catalog {
    margin-top: -60px;
  }

  .catalog > h1 {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  .catalog__item {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item-image {
    width: 334px;
    height: 334px;
  }

  .catalog__item-info {
    display: flex;
    flex-direction: column;
    padding: 28px;
    width: 334px;
    box-sizing: border-box;

    h1 {
      margin: 0;
    }

    span {
      display: block;
      margin-top: auto;
      text-align: left;
    }
  }
}

@media @desktop-widths {
  .catalog > h1 {
    padding-bottom: 85px;
  }

  .catalog__wrap {
    display: flex;
  }

  .catalog__item {
    width: 315px;
    margin-right: 52px;
  }

  .catalog__item:last-child {
    margin-right: 0;
  }

  .catalog__item-image {
    height: 462px;
  }
}
