.catalog {
  position: relative;
  margin-top: -1px;

  > h1 {
    margin: 0 0 31px;
    padding-top: 73px;
    padding-bottom: 73px;
    background-color: @page-second-color;
    text-align: center;
    .caption(27px);
  }
}

.catalog__wrap {
  .container;
}

.catalog__item-image {
  background: #ececec;
  img {
    z-index: 10;
    display: block;
    max-width: 100%;
  }
}

.catalog__item-info {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
  padding: 16px 27px 24px;
  border: 1px solid @border-color;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  h1 {
    .caption(17px);
    line-height: 24px;
    margin-bottom: 6px;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 17px;
    font-size: 13px;
    line-height: 30px;
  }

  span {
    padding-top: 22px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    border-top: 1px solid @border-color;
  }

  a {
    display: block;
    .link(20px; 700; #000000);

    &:last-of-type {
      align-self: flex-end;
      margin-top: -28px;
      width: 30px;
      height: 30px;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20.294px' height='18.849px' viewBox='264.205 370.961 20.294 18.849' enable-background='new 264.205 370.961 20.294 18.849' xml:space='preserve'%3E%3Cpath fill='%23000000' fill-opacity='0.2' d='M283.75,378.19h-3.151l-3.407-6.814c-0.185-0.37-0.634-0.52-1.006-0.335 c-0.371,0.186-0.521,0.636-0.335,1.006l3.071,6.143h-9.138l3.072-6.143c0.185-0.371,0.035-0.821-0.335-1.006 c-0.37-0.185-0.821-0.035-1.006,0.335l-3.407,6.814h-3.151c-0.414,0-0.75,0.336-0.75,0.75s0.336,0.75,0.75,0.75h0.157l0.855,2.991 c-0.187,0.137-0.316,0.347-0.316,0.595c0,0.396,0.309,0.71,0.697,0.739l1.656,5.795h12.697l1.656-5.795 c0.388-0.028,0.698-0.344,0.698-0.739c0-0.249-0.129-0.459-0.316-0.596l0.854-2.991h0.157c0.414,0,0.75-0.336,0.75-0.75 S284.164,378.19,283.75,378.19z M279.569,388.311h-10.433l-1.224-4.284h12.881L279.569,388.311z M281.222,382.526h-13.739 l-0.81-2.836h15.359L281.222,382.526z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 10px 4px;
    }

    &:hover {
      &:last-of-type {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20.294px' height='18.849px' viewBox='264.205 370.961 20.294 18.849' enable-background='new 264.205 370.961 20.294 18.849' xml:space='preserve'%3E%3Cpath fill='%2362d1ba' d='M283.75,378.19h-3.151l-3.407-6.814c-0.185-0.37-0.634-0.52-1.006-0.335 c-0.371,0.186-0.521,0.636-0.335,1.006l3.071,6.143h-9.138l3.072-6.143c0.185-0.371,0.035-0.821-0.335-1.006 c-0.37-0.185-0.821-0.035-1.006,0.335l-3.407,6.814h-3.151c-0.414,0-0.75,0.336-0.75,0.75s0.336,0.75,0.75,0.75h0.157l0.855,2.991 c-0.187,0.137-0.316,0.347-0.316,0.595c0,0.396,0.309,0.71,0.697,0.739l1.656,5.795h12.697l1.656-5.795 c0.388-0.028,0.698-0.344,0.698-0.739c0-0.249-0.129-0.459-0.316-0.596l0.854-2.991h0.157c0.414,0,0.75-0.336,0.75-0.75 S284.164,378.19,283.75,378.19z M279.569,388.311h-10.433l-1.224-4.284h12.881L279.569,388.311z M281.222,382.526h-13.739 l-0.81-2.836h15.359L281.222,382.526z'/%3E%3C/svg%3E");
      }
    }

    &:active {
      &:last-of-type {
        opacity: 0.3;
      }
    }
  }
}
@media @tablet-widths {
  .catalog {
    margin-top: -60px;

    > h1 {
      margin-bottom: 68px;
      margin-left: 9px;
      padding-top: 97px;
      padding-bottom: 90px;
      font-size: 43px;
      line-height: 50px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 215px;
      height: 50px;
      width: 100%;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%' height='26px' viewBox='0 0 1150 34' enable-background='new 0 0 1150 34' xml:space='preserve'%3E%3Cpath fill='%23FFFFFF' d='M1121.252,0c-14.375,0-14.375,14-28.749,14s-14.374-14-28.748-14s-14.374,14-28.748,14 c-14.375,0-14.375-14-28.75-14c-14.374,0-14.374,14-28.748,14S963.135,0,948.761,0s-14.374,14-28.749,14S905.637,0,891.263,0 s-14.374,14-28.749,14s-14.375-14-28.75-14c-14.371,0-14.371,14-28.743,14c-14.375,0-14.375-14-28.75-14 c-14.372,0-14.372,14-28.744,14c-14.374,0-14.374-14-28.747-14s-14.373,14-28.747,14C675.66,14,675.66,0,661.287,0 c-14.374,0-14.374,14-28.748,14c-14.375,0-14.375-14-28.751-14c-14.374,0-14.374,14-28.748,14S560.666,0,546.292,0 s-14.374,14-28.748,14C503.17,14,503.17,0,488.796,0c-14.375,0-14.375,14-28.75,14C445.67,14,445.67,0,431.293,0 c-14.375,0-14.375,14-28.75,14c-14.375,0-14.375-14-28.751-14c-14.375,0-14.375,14-28.75,14S330.666,0,316.291,0 s-14.375,14-28.751,14c-14.376,0-14.376-14-28.753-14c-14.374,0-14.374,14-28.747,14c-14.375,0-14.375-14-28.75-14 c-14.375,0-14.375,14-28.751,14c-14.377,0-14.377-14-28.754-14c-14.377,0-14.377,14-28.755,14c-14.378,0-14.378-14-28.756-14 S71.896,14,57.518,14C43.139,14,43.139,0,28.759,0S14.38,14,0,14v20h1150V14C1135.626,14,1135.626,0,1121.252,0z'/%3E%3C/svg%3E%0A");
      background-repeat: repeat-x;
    }
  }

  .catalog__item-image {
    width: 334px;
    height: 334px;
  }

  .catalog__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 54px;
  }

  .catalog__item-info {
    margin-bottom: 0;
    padding: 26px 33px 24px;
    width: 334px;
    box-sizing: border-box;

    h1 {
      margin: 0 0 5px;
      margin-right: 30px;
      margin-left: -6px;
      font-size: 20px;
      line-height: 24px;
    }

    p {
      font-size: 15px;
      margin-left: -5px;
    }

    span {
      display: block;
      margin-top: auto;
      padding-top: 22px;
      font-size: 17px;
      line-height: 24px;
      text-align: left;
      box-sizing: border-box;
    }
  }
}
@media @desktop-widths {
  .catalog {
    &::before {
      top: 239px;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%' height='35px' viewBox='0 0 1150 34' enable-background='new 0 0 1150 34' xml:space='preserve'%3E%3Cpath fill='%23FFFFFF' d='M1121.252,0c-14.375,0-14.375,14-28.749,14s-14.374-14-28.748-14s-14.374,14-28.748,14 c-14.375,0-14.375-14-28.75-14c-14.374,0-14.374,14-28.748,14S963.135,0,948.761,0s-14.374,14-28.749,14S905.637,0,891.263,0 s-14.374,14-28.749,14s-14.375-14-28.75-14c-14.371,0-14.371,14-28.743,14c-14.375,0-14.375-14-28.75-14 c-14.372,0-14.372,14-28.744,14c-14.374,0-14.374-14-28.747-14s-14.373,14-28.747,14C675.66,14,675.66,0,661.287,0 c-14.374,0-14.374,14-28.748,14c-14.375,0-14.375-14-28.751-14c-14.374,0-14.374,14-28.748,14S560.666,0,546.292,0 s-14.374,14-28.748,14C503.17,14,503.17,0,488.796,0c-14.375,0-14.375,14-28.75,14C445.67,14,445.67,0,431.293,0 c-14.375,0-14.375,14-28.75,14c-14.375,0-14.375-14-28.751-14c-14.375,0-14.375,14-28.75,14S330.666,0,316.291,0 s-14.375,14-28.751,14c-14.376,0-14.376-14-28.753-14c-14.374,0-14.374,14-28.747,14c-14.375,0-14.375-14-28.75-14 c-14.375,0-14.375,14-28.751,14c-14.377,0-14.377-14-28.754-14c-14.377,0-14.377,14-28.755,14c-14.378,0-14.378-14-28.756-14 S71.896,14,57.518,14C43.139,14,43.139,0,28.759,0S14.38,14,0,14v20h1150V14C1135.626,14,1135.626,0,1121.252,0z'/%3E%3C/svg%3E%0A");
    }

    > h1 {
      margin-left: 0;
      margin-bottom: 119px;
      padding-bottom: 110px;
      font-size: 53px;
      line-height: 57px;
    }
  }

  .catalog__wrap {
    display: flex;
  }

  .catalog__item {
    width: 315px;
    margin-right: 52px;
  }

  .catalog__item:last-child {
    margin-right: 0;
  }

  .catalog__item-image {
    height: 462px;
  }

  .catalog__item-info {
    margin-top: -1px;
    padding: 26px 32px 26px 26px;
    min-height: 200px;

    h1 {
      margin-right: 25px;
      margin-left: 0;
    }

    p {
      margin-bottom: 14px;
      margin-left: 0;
    }
  }
}
