.contacts {
  outline: @outline-block;
  .container;

  h2 {
    outline: @outline-block;
    padding-top: 40px;
    padding-right:30px;
    padding-bottom: 40px;
    padding-left: 30px;

    .caption(18px);
  }

  address {
    outline: @outline-block;
    padding-right:30px;
    padding-bottom: 40px;
    padding-left: 30px;
  }

  p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 145px;
  }
}

.contacts__wrap {
  padding-bottom: 55px;
}

.contacts__wrap > a {
  display: block;
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 18px;
  padding-right: 51px;
  padding-bottom: 18px;
  padding-left: 51px;
  border: 2px solid red;
  text-align: center;
}

.contacts__map {
  margin-bottom: 39px;
  background: url("../../img/map-mobile@1x.jpg") 100% 100% no-repeat;

  iframe {
    width: 320px;
    height: 457px;
  }
}

@media @tablet-widths {
  .contacts__wrap {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 50px;

    h2 {
      margin-right: auto;
      // background-color: lightpink;
    }

    address {
      display: flex;
      margin: auto;
      padding: 0;
      padding-bottom: 60px;
      // background-color: lightgreen;
    }
  }

  .contacts__wrap > a {
        margin: auto;
        padding-top: 18px;
        padding-right: 41px;
        padding-bottom: 18px;
        padding-left: 39px;
        border: 2px solid red;
      }

  .contacts__item {
    width: 334px;
    background-color: lightblue;

    span {
      margin-right: 26px;
    }

    p {
      margin: 0;
      width: 220px;
      // background-color: lightyellow;
    }
  }

  .contacts__map {
    margin: auto;
    margin-bottom: 55px;

    iframe {
      margin-left: -50px;
      width: 768px;
    }
  }
}

@media @desktop-widths {
  .contacts__wrap {
    padding-right: 50px;
    padding-left: 50px;

    h2 {
      margin-top: 90px;
      padding-left: 175px;
    }

    address {
      flex-direction: column;
      margin: 0;
      padding-right: 0;
      padding-left: 175px;
      width: 350px;
    }
  }

  .contacts__wrap > a {
    align-self: flex-start;
    margin-top: -75px;
    margin-left: 175px;
  }

  .contacts__item {
    width: 350px;
  }

  .contacts__item:first-child {
    margin-bottom: 38px;
  }

  .contacts__map {
    align-self: flex-end;
    margin: 0;
    margin-top: -335px;

    iframe {
      width: 525px;
    }
  }
}
