.custom-order {
  outline: @outline-block;
  .container;
}

.custom-order > h1 {
  padding-top: 73px;
  padding-bottom: 73px;
  background-color: @page-second-color;
  text-align: center;

  .caption(27px);
}

@media @tablet-widths {
  .custom-order {
    margin-top: -60px;
  }

  .custom-order > h1 {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}
