.form {
  padding: 30px;
  padding-bottom: 40px;

  h2 {
    text-transform: uppercase;

    .caption(17px);
    color: #62d1ba;
  }

  div {
    margin-bottom: 30px;
  }

  label {
    .caption(17px);
  }
}
