.popup {
  display: none;
}

.popup__form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.popup__form-wrap {
  padding: 30px;
  padding-bottom: 40px;
  width: 320px;
  // margin: auto;
  box-sizing: border-box;
  text-align: center;
  background: white;
  border: 1px solid #c7c7c7;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -160px;
  z-index: 11;

  h1 {
    text-transform: uppercase;

    .caption();
  }

  span {
    display: block;
  }

  button {
    display: block;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #63d1bb;
    border: 2px solid #63d1bb;
    outline: none;
  }

  input {
    display: none;

    &:checked {
      + label {
        border-color:#63d1bb;
      }
    }
  }

  label {
    display: inline-block;
    width: 82px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    border: 2px solid #ececec;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      border-color: #c7c7c7;
    }
  }
}

@media @tablet-widths {
  .popup__form-wrap {
    padding-right: 110px;
    padding-left: 110px;
    width: 566px;

    margin-left: -258px;

    button {
      width: 350px;
    }
  }

  br {
    display: none;
  }
}
