.product {
  a {
    display: block;
    padding-top: 27px;
    padding-right: 160px;
    padding-bottom: 27px;
    padding-left: 30px;

    .link(19px; 700; #ffffff);
  }
}

.product a:first-of-type {
  background-color: @product-color;
}

.product a:last-of-type {
  background-color: @product-second-color;
}


@media @tablet-widths {
  .product {
    display: flex;

    a {
      width: 334px;
    }
  }
}

@media @desktop-widths {
  .product {
    a {
      padding-right: 350px;
      width: 525px;
    }
  }
}
