.review__text {
  margin: 0 0 29px;
  line-height: 30px;
  letter-spacing: 0.03em;

  p {
    margin-bottom: 27px;
  }

  h1 {
    margin-bottom: 4px;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 22px;
  }

  cite {
    font-style: normal;
    letter-spacing: 0.05em;
  }

  br {
    display: none;
  }
}
@media @tablet-widths {
  .review {
    display: flex;
    flex-direction: column;
  }

  .review__text {
    width: 668px;

    p {
      margin-bottom: 58px;
      font-size: 17px;
    }

    h1 {
      font-size: 17px;
    }
  }
}
@media @desktop-widths {
  .review__text {
    padding-left: 175px;
    width: 780px;

    p {
      margin-bottom: 39px;
    }

    br {
      display: block;
    }
  }
}