.review__text {
  margin: 0;
  margin-bottom: 36px;

  h1 {
    .caption();
  }
}

@media @tablet-widths {
  .review {
    display: flex;
    flex-direction: column;
  }

  .review__text {
    width: 668px;
  }
}

@media @desktop-widths {
  .review__text {
    padding-left: 175px;
    width: 780px;
  }
}
